.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipo {
    border: solid black 2px;
    width: 15rem;

}

.pronostico {
    display: flex;
    justify-content: space-around;
}

.pronostico-btn {
    width: 3rem;
}

p {
    text-align: center;
}

.partido {
    display: block;
}

.partido-resultado {
    display: flex;
    flex-direction: column;
}

.partido-equipos {
    display:flex;
}

.containerbtn {
    display: flex;
    justify-content: center;
}

.resultado {
    display: flex;
    justify-content: center;
}